.container {
  width: 90vw;
  height: 200px;
  display: flex;
  overflow-x: scroll;
  column-gap: 20px;
  margin: 10px;
  position: relative;
}
.buttons {
  display: flex;
  justify-content: center;
  margin: 20px;

  column-gap: 20px;
}
img {
  width: 400px;
}
